
body{
    text-align: right;
    background-color: salmon;
}
section{
    margin:50px 100px;
    padding-right: 200px;
    max-width: 900px;
    color:white;
    border-style:dotted;
    border-color: white;
}
h1{
    
    /* border: right 50px; color:(black); */
    margin: 50px 100px;
    padding-right: 200px;
    border-style:double;
    border-color: black;
    text-align: right;
    color: black;
    
    
}

h3{
    margin: 50px 100px;
    padding-right: 200px;
    text-align: right;
    border-right: max;
    color:green;
}  

